@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/dist/owl.carousel.min.css';
@import '/dist/owl.theme.default.min.css';

:root,
body,
* {
  font-family: 'Work Sans', sans-serif;
}

.bg-primary-gradient {
  background: linear-gradient(
      180deg,
      rgba(245, 245, 247, 0.64) 0%,
      rgba(255, 245, 243, 0.64) 100%
    ),
    #ffffff;
}

.bg-primary-gradient-2 {
  background: linear-gradient(
      0deg,
      rgba(212, 58, 16, 0.005),
      rgba(212, 58, 16, 0.005)
    ),
    #ffffff;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.slider-bullet .swiper-pagination-hidden {
  @apply hidden;
}

.swiper-pagination-bullets {
  @apply flex gap-4 justify-center mt-10;
}

.swiper-pagination-bullet {
  @apply block w-4 h-4 bg-neve-dark rounded-full opacity-100;
}

.slider-bullets-dark .swiper-pagination-bullet {
  @apply bg-dark-2;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary-base;
}

.post-content p {
  @apply text-dark-2 text-base mb-8 leading-[140%] last:mb-0;
}

.post-content figure {
  @apply w-full my-14 lg:my-8;
}

.post-content img {
  @apply mx-auto max-w-[100%] mb-4;
}

.post-content figcaption {
  @apply text-dark-3 text-base;
}

#projetos_slider_dots {
  @apply flex justify-center gap-4;
}

#projetos_slider_dots .owl-dot {
  @apply w-4 h-4 bg-dark-2 rounded-full;
}

#projetos_slider_dots .owl-dot.active {
  @apply bg-primary-base;
}

#testimonials_slider_dots {
  @apply flex justify-center gap-4;
}

#testimonials_slider_dots .owl-dot {
  @apply w-4 h-4 bg-neve-dark rounded-full;
}

#testimonials_slider_dots .owl-dot.active {
  @apply bg-primary-base;
}
